# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  projectName: 'Toraderkonkurranse.WebAPI'
  projectFolder: 'Toraderkonkurranse.WebAPI'
  artifactName: 'Toraderkonkurranse.WebAPI'

resources:
  repositories:
  - repository: FhiFellesDevOps
    type: git
    name: Fhi.Felles/Fhi.Felles.DevOps  

steps:
- task: NuGetToolInstaller@1
  displayName: 'installerer nuget'

- task: NuGetCommand@2
  displayName: 'installerer nuget-pakker'
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  displayName: 'kompilerer løsning'
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:DesktopBuildPackageLocation="$(build.artifactStagingDirectory)\WebApp.zip" /p:DeployIisAppPath="Default Web Site"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  displayName: 'Kjøre enhetstester'
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# publish artifacts
- template: BuildTemplates/publishArtifactTemplate_v1.yml@FhiFellesDevOps
  parameters:
    projectName: '$(projectName)'
    projectFolder: '$(projectFolder)'
    buildConfiguration: '$(buildConfiguration)'
    artifactName: '$(artifactName)'
#- task: AzureRmWebAppDeployment@4
#  displayName: 'Deploye til azure'
#  inputs:
#    ConnectionType: 'AzureRM'
#    azureSubscription: 'FHI-NyeDialog-Dev(1)(2f391a3e-e2c2-41e4-a30a-cf6d39da675c)'
#    appType: 'webApp'
#    WebAppName: 'toraderkonkurranse-api'
#    packageForLinux: '$(System.DefaultWorkingDirectory)/Toraderkonkurranse.WebAPI'