<h1 id="tableLabel">Arrangement</h1>
<br />
<a class="" [routerLink]="['/arrangement']">Opprett nytt arrangement</a>
<br />
<br />

<p *ngIf="!arrangement"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="arrangement">
  <thead>
    <tr>
      <th>Status</th>
      <th>Arrangør</th>
      <th>Navn</th>
      <th>Lokasjon</th>
      <th>Konkurranser</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arrangement">
      <td>{{ item.status }}</td>
      <td>{{ item.arrangor }}</td>
      <td>{{ item.navn }}</td>
      <td>{{ item.lokasjon }}</td>
      <td *ngIf="erPlanlagt(item.status)"><a class="" [routerLink]="['/konkurranse', item.arrangementID, item.navn, item.status]">Vis konkurranser</a></td>
      <!--<td *ngIf="!erPlanlagt(item.status)">Arrangement er avsluttet</td>-->
      <td *ngIf="!erPlanlagt(item.status)"><a class="" [routerLink]="['/konkurranse', item.arrangementID, item.navn, item.status]">Vis konkurranser</a></td>
    </tr>
  </tbody>
</table>
